:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidebar-expande {
    width: 250px;
};
.sidebar-collapse {
    width: 50px;
};
mat-drawer {
    height: 100%;
    padding: 20px;
}
mat-drawer-container {
    height: 100%;
}
mat-drawer-content {
    padding: 20px;
}