<mat-nav-list class="top20">
  <a mat-list-item routerLink="./main">
    <mat-icon matListIcon>dvr</mat-icon>Overview
  </a>
  <a mat-list-item routerLink="./companies">
    <mat-icon matListIcon>home_work</mat-icon>Companies
  </a>
  <a mat-list-item routerLink="./brokers">
    <mat-icon matListIcon>verified_user</mat-icon>Brokers
  </a>
  <a mat-list-item routerLink="./loads">
    <mat-icon matListIcon>local_shipping</mat-icon>Loads
  </a>
  <a mat-list-item routerLink="./carriers">
    <mat-icon matListIcon>assignment</mat-icon>Carriers
  </a>
  <a mat-list-item routerLink="./customers">
    <mat-icon matListIcon>contacts</mat-icon>Customers
  </a>
</mat-nav-list>
